<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BlackJack</title>
</head>
<body>
    <h1 class="page-title">BLACKJACK</h1>

    <div class="blackjack_buttons">
        <button onclick="showImage()">Click to hit</button>
    </div>

    <img id="cards_display" src="{{ url_for('static', filename='card back blue.png') }}" alt="gambling2" class="bottom-image">

    <script>
        function showImage() {
            document.getElementById("cards_display").style.display = "flex";
        }
    </script>
    </form>
</body>
</html>